{% extends 'base.html.twig' %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="search-form mb-3">
            <form class="row gx-3 gy-2 align-items-center">
                <div class="col-12">
                    <label class="visually-hidden" for="specificSizeInputGroupUsername">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="query"
                         id="specificSizeInputGroupUsername" placeholder="Search ..." name="q" required>
                    </div>
                </div>
            </form>
        </div>

        <div class="card">
         <div class="card-header">
                <h3 class="card-title" id="count">
                   
                </h3>
            </div>
            <div class="card-body" id="results">

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('algolia_search') }}
{% endblock %}
