{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    
    <div class="container mt-4">
        <h1>Hello !!</h1> 
        <div class="m-4 p-4">
            <a href="{{ path('server_search') }}" class="btn btn-success">Algolia Server Side Search</a>
            <a href="{{ path('client_search') }}" class="btn btn-info">Algolia Client Side Search</a>
            <a href="{{ path('auto_complete_places') }}" class="btn btn-primary">Algolia AutoComplete Places</a>
        </div>
    </div>
{% endblock %}
